body {
  width: 300px;
}

#libraryList {
  padding: 10px;
}

#libraryList li {
  display: inline-block;
  margin: 5px;
  font-size: 14px;
  user-select: none;
  cursor: pointer;
}

input[type=checkbox] {
  margin-right: 10px;
}
